extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.png" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    .top-home.b-lazy.webp-img(data-webp="./img/top-home-bg.webp"
    data-img="./img/top-home-bg.jpg")
      .top-home__inner.site-container
        .top-home__img
          picture
            source(srcset="./img/top-home-img.webp" type="image/webp")
            img(src="./img/top-home-img.png" width="358" height="591" alt="img")
        .top-home__content
          h1.top-home__title лечение алкогольной и наркотической зависимости с гарантией от срыва
          .top-home__btn
            a(href="#").site-btn.top-home__btn-i Вызвать нарколога
            a(href="#").site-btn.site-btn--transparent.top-home__btn-i Бесплатная консультация

    .advantage.top-home.b-lazy.webp-img(data-webp="./img/gradient-bg.webp"
    data-img="./img/gradient-bg.jpg")
      .advantage__inner.site-container
        h2.advantage__title.site-title Наши преимущества
        .advantage__content.custom-row
          .advantage__item.custom-col
            .advantage__num 01
            .advantage__txt
              .advantage__name Выезд на дом
              .advantage__desc Приезд на дом за 29 мин по Санкт-Петербургу и области
          .advantage__item.custom-col
            .advantage__num 02
            .advantage__txt
              .advantage__name Лучшие специалисты
              .advantage__desc Опыт врачей от 10 лет с кандидатскими  степенями
          .advantage__item.custom-col
            .advantage__num 03
            .advantage__txt
              .advantage__name Низкие цены
              .advantage__desc Лечение в стационаре от 2800 руб/сутки
          .advantage__item.custom-col
            .advantage__num 04
            .advantage__txt
              .advantage__name Анонимность
              .advantage__desc 100% анонимность и гарантия результата
          .advantage__item.custom-col
            .advantage__num 05
            .advantage__txt
              .advantage__name Удобная оплата
              .advantage__desc Оплата любыми банковскими картами
          .advantage__item.custom-col
            .advantage__num 06
            .advantage__txt
              .advantage__name Мотивация
              .advantage__desc Формируем 100% мотивацию на лечение

    .our-service
      .our-service__inner.site-container
        h2.our-service__title.site-title Наши услуги
        .our-service__slider.our-service-slider.slider-styles.owl-carousel.b-lazy.webp-img(data-webp="./img/slider-bg.webp"
        data-img="./img/slider-bg.png")
          .our-service__item
            .our-service__item-content
              .our-service__item-title Вывод из запоя
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Лечение в стационаре
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Лечение алкоголизма
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Вывод из запоя
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Лечение в стационаре
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее

    .doctors.b-lazy.webp-img(data-webp="./img/doctors-bg.webp"
    data-img="./img/doctors-bg.jpg")
      .doctors__inner.site-container
        h2.doctors__title.site-title Наши врачи
        .doctors__slider.doctors-slider.owl-carousel.slider-styles-opacity
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor01.webp" type="image/webp")
                img(src="./img/doctor01.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Лазарев Игорь Александрович
            .doctors__caption Главный врач, психиатр-нарколог, <br> кандидат медицинских наук
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor02.webp" type="image/webp")
                img(src="./img/doctor02.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Кокорева Ольга Эдуардовна
            .doctors__caption Врач психиатр-нарколог
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor03.webp" type="image/webp")
                img(src="./img/doctor03.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Сабин Александр Семенович
            .doctors__caption Врач психиатр-нарколог
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor01.webp" type="image/webp")
                img(src="./img/doctor01.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Лазарев Игорь Александрович
            .doctors__caption Главный врач, психиатр-нарколог, <br> кандидат медицинских наук
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor02.webp" type="image/webp")
                img(src="./img/doctor02.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Кокорева Ольга Эдуардовна
            .doctors__caption Врач психиатр-нарколог
            a(href="#").doctors__btn.site-btn Подробнее

    .why-we
      .why-we__inner.site-container
        .why-we__title.site-title Почему наше лечение помогает
        .why-we__content
          .why-we__list.custom-row
            .why-we__item.custom-col
              .why-we__ico
                picture
                  source(srcset="./img/ico/why-we-ico01.webp" type="image/webp")
                  img(src="./img/ico/why-we-ico01.png" width="142" height="142" alt="img")
              .why-we__name Капельницы <br> от алкоголизма
              .why-we__txt.
                Уникальный состав капельницы позволяет убрать тремор, тошноту, бессонницу и тягу к алкоголю, сделать полное выведение из запоя. Мотивация на лечение, поддержка на всем сроке лечения.
            .why-we__item.custom-col
              .why-we__ico
                picture
                  source(srcset="./img/ico/why-we-ico02.webp" type="image/webp")
                  img(src="./img/ico/why-we-ico02.png" width="142" height="142" alt="img")
              .why-we__name Эффективное <br> кодирование
              .why-we__txt.
                Мы используем лицензированные МИНздравом РФ препараты и методики, которые полностью снимают тягу и позволяют добится трезвости у 90% пациентов. Поддержка и консультации врача на протяжение всего срока кодирования.
            .why-we__item.custom-col
              .why-we__ico
                picture
                  source(srcset="./img/ico/why-we-ico02.webp" type="image/webp")
                  img(src="./img/ico/why-we-ico02.png" width="142" height="142" alt="img")
              .why-we__name Стационар <br> и реабилитация
              .why-we__txt.
                Лечение в стационаре проходит под наблюдением врачей в уютной обстановке. Реабилитация зависимых проходит по программе 12 шагов. Поддержка и участие профессиональных врачей и психологов.

    .text-block
      .text-block__inner.site-container
        h3.text-block__title.site-title Текстовый блок
        picture
          source(srcset="./img/text-block-img.webp" type="image/webp")
          img(src="./img/text-block-img.jpg" width="550"  alt="img" style="float: right;")
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения  из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения
          из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.

    .consultation.b-lazy.webp-img(data-webp="../img/consultation-bg.webp"
    data-img="../img/consultation-bg.jpg")
      .consultation__inner.site-container
        .consultation__img
          .consultation__img-i.b-lazy.webp-img(data-webp="./img/consultation-img.webp"
          data-img="./img/consultation-img.png")
        .consultation__info
          .consultation__title получите бесплатную <br> консультацию
          .consultation__form.site-form
            form
              .site-form__row
                .site-form__input
                  input(type="tel" inputmode="numeric" placeholder="Введите ваш номер").phone
              .site-form__btn
                a(href="#").site-form__btn-i.site-btn Отправить
              .site-form__public-offer
                p *Нажимая на кнопку Отправить, вы принимаете условия&nbsp;
                  a(href="#") Публичной оферты

    .service-price.b-lazy.webp-img(data-webp="../img/gradient-bg.webp"
    data-img="../img/gradient-bg.png")
      .service-price__inner.site-container
        h2.service-price__title.site-title Сколько стоят наши услуги
        .service-price__content
          .service-price__head
            .service-price__row
              .service-price__col.service-price__col--name Услуга
              .service-price__col.service-price__col--price Цена
              .service-price__col.service-price__col--btn
          .service-price__list
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Вывод из запоя</strong> (двойная капельница, выезд на дом, консультация)<br>
                + сердечные/печеночные, укол снотворного, курс лекарств 3-5 дней
              .service-price__col.service-price__col--price От 1990 руб
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Кодирование от алкоголизма</strong> (укол под лопатку, выезд на дом, наблюдение врач))<br>
                + без шрамов и рубцов, хорошая переносимость
              .service-price__col.service-price__col--price От 2900 руб
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Лечение в стационаре</strong> бесплатная доставка, курс 3-5 дней, полное очищение<br>
                + больничный лист, мотивация на лечение
              .service-price__col.service-price__col--price От 3900 руб/сутки
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Психология/Психиатрия</strong> (курс психотерапии, лучшие врачи СПб, психиатр на дом)<br>
                + семейная терапия, психоанализ
              .service-price__col.service-price__col--price От 2500 руб
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Вывод из запоя</strong> (доставка пациента, мотивация на лечение, <br>
                 программа 12 шагов)<br>
              .service-price__col.service-price__col--price От 1490 руб/сутки
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать

    .review
      .gradient-bg
      .review__inner.site-container
        h2.review__title.site-title Отзывы
        .review__slider.review-slider
          .review__item
            .review__img
              picture
                source(srcset="./img/slider-img.webp" type="image/webp")
                img(src="./img/slider-img.png" width="650"  alt="img")
            .review__info
              .review__head Андрей, 37 лет, г. Санкт-Петербург
              .review__txt.
                Употреблял алкоголь более 3 месяцев, с Нового Года. Поступил в клинику в очень плохом состоянии. После курса лечения, который длился 5 дней, чувствую себя обновленным и восстановленным.<br>
                Употреблял алкоголь более 3 месяцев, с Нового Года. Поступил в клинику в очень плохом состоянии. После курса лечения, который длился 5 дней, чувствую себя обновленным и восстановленным.

    .text-block
      .text-block__inner.site-container
        h3.text-block__title.site-title Текстовый блок
        picture
          source(srcset="./img/text-block-img.webp" type="image/webp")
          img(src="./img/text-block-img.jpg" width="550"  alt="img" style="float: left;")
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения  из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения
          из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.

    .about.b-lazy.webp-img(data-webp="./img/about-bg.webp"
    data-img="./img/about-bg.jpg")
      .about__inner.site-container
        h2.about__title.site-title О нас
        picture
          source(srcset="./img/about-img.webp" type="image/webp")
          img(src="./img/about-img.png" width="557"  alt="img" style="float: left;")

        .about__content
          p.
            Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения из запоя, лечения алкоголизма и наркомании.
          p.
            Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации. Врачи клиники доктора Лазарева также выезжают во все районы Санкт-Петербурга и Ленинградской области для проведения выведения из запоя и кодирования от алкогольной зависимости. Мы оказываем следующие услуги: стационар и реабилитация, лечение алкоголизма, лечение наркомании, нарколог на дом, выведение из запоя, кодирование от алкоголя.

    .license.b-lazy.webp-img(data-webp="./img/gradient-bg.webp"
    data-img="./img/gradient-bg.jpg")
      .license__inner.site-container
        h2.license__title.site-title Наши лицензии
        .license__slider.license-slider.magnific-popup.slider-styles.owl-carousel.b-lazy.webp-img(data-webp="./img/slider-bg.webp"
        data-img="./img/slider-bg.png")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")

    .text-block
      .text-block__inner.site-container
        h3.text-block__title.site-title Текстовый блок
        picture
          source(srcset="./img/text-block-img.webp" type="image/webp")
          img(src="./img/text-block-img.jpg" width="550"  alt="img" style="float: right;")
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения  из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения
          из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.


    .consultation.b-lazy.webp-img(data-webp="./img/consultation-bg.webp"
    data-img="./img/consultation-bg.jpg")
      .consultation__inner.site-container
        .consultation__img
          .consultation__img-i.b-lazy.webp-img(data-webp="./img/consultation-img.webp"
          data-img="./img/consultation-img.png")
        .consultation__info
          .consultation__title остались вопросы? оставьте заявку и мы перезвоним
          .consultation__form.site-form
            form
              .site-form__row
                .site-form__input
                  input(type="tel" inputmode="numeric" placeholder="Введите ваш номер").phone
              .site-form__btn
                a(href="#").site-form__btn-i.site-btn Отправить
              .site-form__public-offer
                p *Нажимая на кнопку Отправить, вы принимаете условия&nbsp;
                  a(href="#") Публичной оферты
