extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "service-page";
  - var pageActive = "servicepage";
block content

  div.main-wrap
    .top-service.b-lazy.webp-img(data-webp="./img/top-service-bg.webp"
    data-img="./img/top-service-bg.jpg")
      .top-service__inner.site-container
        .top-service__content
          h1.top-service__title выведение из запоя на дому <br> от 1990 руб.
          .top-service__btn
            a(href="#").site-btn.top-service__btn-i Обратиться


    .seo-block
      .seo-block__inner.site-container
        h3 Особенности вывода из запоя на дому
        h4 Как принято считать, интерактивные прототипы формируют глобальную сеть
        p.
          Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности предоставляет широкие возможности для системы обучения кадров, соответствующей потребностям.
        ol
          li Для современного мира современная методология разработки способствует повышению качества
          li Как принято считать, интерактивные прототипы формируют глобальную экономическую сеть
          li Как принято считать, интерактивные прототипы формируют глобальную экономическую сеть
        picture
          source(srcset="./img/seo-block-img.webp" type="image/webp")
          img(src="./img/seo-block-img.jpg" alt="img")
        p.
          Принимая во внимание показатели успешности, внедрение современных методик в значительной степени обусловливает важность кластеризации усилий. Кстати, действия представителей оппозиции, вне зависимости от их уровня, должны быть своевременно верифицированы. Сложившаяся структура организации является качественно новой ступенью своевременного выполнения сверхзадачи.
        h3 Этапы вывода из запоя специалистами <br> наркоклиники СПБ
        h4 Как принято считать, интерактивные прототипы формируют глобальную сеть
        p.
          Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности предоставляет широкие возможности для системы обучения кадров, соответствующей потребностям.
        ul
          li Для современного мира современная методология разработки способствует повышению качества
          li Как принято считать, интерактивные прототипы формируют глобальную экономическую сеть
          li Но интерактивные прототипы и по сей день остаются уделом либералов
        blockquote.
          Следует отметить, что внедрение современных методик позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям команды.
        p.
          Принимая во внимание показатели успешности, внедрение современных методик в значительной степени обусловливает важность кластеризации усилий. Кстати, действия представителей оппозиции, вне зависимости от их уровня, должны быть своевременно верифицированы. Сложившаяся структура организации является качественно новой ступенью своевременного выполнения сверхзадачи.
        hr
        p
          span.
            Следует отметить, что внедрение современных методик позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям команды
        hr
        p Принимая во внимание&nbsp;
          a(href="#") показатели успешности,
          | &nbsp;внедрение современных методик в значительной степени обусловливает важность кластеризации усилий. Кстати, действия представителей оппозиции, вне зависимости от их уровня, должны быть своевременно верифицированы. Сложившаяся структура организации является качественно новой ступенью своевременного выполнения сверхзадачи.


    .service-price.b-lazy.webp-img(data-webp="../img/gradient-bg.webp"
    data-img="../img/gradient-bg.png")
      .service-price__inner.site-container
        h2.service-price__title.site-title Цена на вывод из запоя
        .service-price__content
          .service-price__head
            .service-price__row
              .service-price__col.service-price__col--name Услуга
              .service-price__col.service-price__col--price Цена
              .service-price__col.service-price__col--btn
          .service-price__list.service-price-slider.owl-carousel
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Вывод из запоя</strong> (двойная капельница, выезд на дом, консультация)<br>
                + сердечные/печеночные, укол снотворного, курс лекарств 3-5 дней
              .service-price__col.service-price__col--price От 1990 руб
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Кодирование от алкоголизма</strong> (укол под лопатку, выезд на дом, наблюдение врач))<br>
                + без шрамов и рубцов, хорошая переносимость
              .service-price__col.service-price__col--price От 2900 руб
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Лечение в стационаре</strong> бесплатная доставка, курс 3-5 дней, полное очищение<br>
                + больничный лист, мотивация на лечение
              .service-price__col.service-price__col--price От 3900 руб/сутки
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Психология/Психиатрия</strong> (курс психотерапии, лучшие врачи СПб, психиатр на дом)<br>
                + семейная терапия, психоанализ
              .service-price__col.service-price__col--price От 2500 руб
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать
            .service-price__row
              .service-price__col.service-price__col--name.
                <strong>Вывод из запоя</strong> (доставка пациента, мотивация на лечение, <br>
                 программа 12 шагов)<br>
              .service-price__col.service-price__col--price От 1490 руб/сутки
              .service-price__col.service-price__col--btn
                a(href="#").service-price__btn.site-btn Заказать


    .advantage
      .advantage__inner.site-container
        h2.advantage__title.site-title Наши преимущества
        .advantage__content.custom-row
          .advantage__item.custom-col
            .advantage__num 01
            .advantage__txt
              .advantage__name Выезд на дом
              .advantage__desc Приезд на дом за 29 мин по Санкт-Петербургу и области
          .advantage__item.custom-col
            .advantage__num 02
            .advantage__txt
              .advantage__name Лучшие специалисты
              .advantage__desc Опыт врачей от 10 лет с кандидатскими  степенями
          .advantage__item.custom-col
            .advantage__num 03
            .advantage__txt
              .advantage__name Низкие цены
              .advantage__desc Лечение в стационаре от 2800 руб/сутки
          .advantage__item.custom-col
            .advantage__num 04
            .advantage__txt
              .advantage__name Анонимность
              .advantage__desc 100% анонимность и гарантия результата
          .advantage__item.custom-col
            .advantage__num 05
            .advantage__txt
              .advantage__name Удобная оплата
              .advantage__desc Оплата любыми банковскими картами
          .advantage__item.custom-col
            .advantage__num 06
            .advantage__txt
              .advantage__name Мотивация
              .advantage__desc Формируем 100% мотивацию на лечение

    .our-service
      .our-service__inner.site-container
        h2.our-service__title.site-title Наши услуги
        .our-service__slider.our-service-slider.slider-styles.owl-carousel.b-lazy.webp-img(data-webp="./img/slider-bg.webp"
        data-img="./img/slider-bg.png")
          .our-service__item
            .our-service__item-content
              .our-service__item-title Вывод из запоя
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Лечение в стационаре
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Лечение алкоголизма
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Вывод из запоя
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее
          .our-service__item
            .our-service__item-content
              .our-service__item-title Лечение в стационаре
              .our-service__item-txt.
                Выведение из запоя на дому в клинике доктора Лазарева проводят только сертифицированные психиатры- -наркологи с многолетним опытом работы. Доверять свое здоровье можно только
                в руки настоящих профессионалов.
              .our-service__item-btn
                a(href="#").site-btn.our-service__item-btn Узнать подробнее

    .doctors.b-lazy.webp-img(data-webp="./img/doctors-bg.webp"
    data-img="./img/doctors-bg.jpg")
      .doctors__inner.site-container
        h2.doctors__title.site-title Наши врачи
        .doctors__slider.doctors-slider.owl-carousel.slider-styles-opacity
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor01.webp" type="image/webp")
                img(src="./img/doctor01.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Лазарев Игорь Александрович
            .doctors__caption Главный врач, психиатр-нарколог, <br> кандидат медицинских наук
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor02.webp" type="image/webp")
                img(src="./img/doctor02.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Кокорева Ольга Эдуардовна
            .doctors__caption Врач психиатр-нарколог
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor03.webp" type="image/webp")
                img(src="./img/doctor03.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Сабин Александр Семенович
            .doctors__caption Врач психиатр-нарколог
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor01.webp" type="image/webp")
                img(src="./img/doctor01.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Лазарев Игорь Александрович
            .doctors__caption Главный врач, психиатр-нарколог, <br> кандидат медицинских наук
            a(href="#").doctors__btn.site-btn Подробнее
          .doctors__item
            .doctors__photo
              picture
                source(srcset="./img/doctor02.webp" type="image/webp")
                img(src="./img/doctor02.png" width="360" height="360" alt="img").doctors__photo-i
            .doctors__name Кокорева Ольга Эдуардовна
            .doctors__caption Врач психиатр-нарколог
            a(href="#").doctors__btn.site-btn Подробнее

    .text-block
      .text-block__inner.site-container
        h3.text-block__title.site-title Текстовый блок
        picture
          source(srcset="./img/text-block-img.webp" type="image/webp")
          img(src="./img/text-block-img.jpg" width="550"  alt="img" style="float: right;")
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения  из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.
        p.
          Клиника доктора Лазарева успешно работает в Санкт-Петербурге и Москве с 2008 года. Ежедневно наши врачи оказывают помощь более 50 пациентам с различными формами зависимости на дому и в стационаре. Психиатры-наркологи нашей клиники имеют опыт работы более 10 лет и используют авторские методики выведения
          из запоя, лечения алкоголизма и наркомании.
        p.
          Круглосуточный стационар у метро Балтийская оснащен современным оборудованием и имеет комфортные 2-х местные палаты для пребывания пациентов под постоянным наблюдением медицинского персонала. В штате имеется психолог, психотерапевт, кардиолог, невролог, что позволяет проводить точную диагностику последствий алкоголизма и разрабатывать индивидуальную программу реабилитации.

    .why-we
      .why-we__inner.site-container
        .why-we__title.site-title Выведение из запоя проводят опытные врачи
        .why-we__content
          .why-we__list.custom-row
            .why-we__item.custom-col
              .why-we__ico
                picture
                  source(srcset="./img/ico/why-we-ico01.webp" type="image/webp")
                  img(src="./img/ico/why-we-ico01.png" width="142" height="142" alt="img")
              .why-we__name Капельницы <br> от алкоголизма
              .why-we__txt.
                Уникальный состав капельницы позволяет убрать тремор, тошноту, бессонницу и тягу к алкоголю, сделать полное выведение из запоя
            .why-we__item.custom-col
              .why-we__ico
                picture
                  source(srcset="./img/ico/why-we-ico04.webp" type="image/webp")
                  img(src="./img/ico/why-we-ico04.png" width="142" height="142" alt="img")
              .why-we__name Психологическая <br> поддержка
              .why-we__txt.
                Пациенту и его родственникам, мотивация на лечение
                и кодирование
            .why-we__item.custom-col
              .why-we__ico
                picture
                  source(srcset="./img/ico/why-we-ico02.webp" type="image/webp")
                  img(src="./img/ico/why-we-ico02.png" width="142" height="142" alt="img")
              .why-we__name Полное <br> восстановление
              .why-we__txt.
                Врач также оставляет необходимые препараты
                на 3-5 дней и выписывает рецепты для полного восстановления пациента

    .consultation.b-lazy.webp-img(data-webp="./img/consultation-bg.webp"
    data-img="./img/consultation-bg.jpg")
      .consultation__inner.site-container
        .consultation__img
          .consultation__img-i.b-lazy.webp-img(data-webp="./img/consultation-img.webp"
          data-img="./img/consultation-img.png")
        .consultation__info
          .consultation__title получите бесплатную <br> консультацию
          .consultation__form.site-form
            form
              .site-form__row
                .site-form__input
                  input(type="tel" inputmode="numeric" placeholder="Введите ваш номер").phone
              .site-form__btn
                a(href="#").site-form__btn-i.site-btn Отправить
              .site-form__public-offer
                p *Нажимая на кнопку Отправить, вы принимаете условия&nbsp;
                  a(href="#") Публичной оферты

    .review
      .review__gradient-bg.desktop.b-lazy.webp-img(data-webp="../img/gradient-bg-rev.webp"
      data-img="../img/gradient-bg-rev.png")
      .review__inner.site-container
        h2.review__title.site-title Отзывы
      .review__slider.review-slider.owl-carousel
        .review__item
          .review__item-content.site-container
            .review__img
              picture
                source(srcset="./img/slider-img.webp" type="image/webp")
                img(src="./img/slider-img.png"  alt="img")
            .review__info
              .review__head Андрей, 37 лет, г. Санкт-Петербург
              .review__txt.
                Употреблял алкоголь более 3 месяцев, с Нового Года. Поступил в клинику в очень плохом состоянии. После курса лечения, который длился 5 дней, чувствую себя обновленным и восстановленным.<br>
                Употреблял алкоголь более 3 месяцев, с Нового Года. Поступил в клинику в очень плохом состоянии. После курса лечения, который длился 5 дней, чувствую себя обновленным и восстановленным.
        .review__item
          .review__item-content.site-container
            .review__img
              picture
                source(srcset="./img/slider-img.webp" type="image/webp")
                img(src="./img/slider-img.png"  alt="img")
            .review__info
              .review__head Андрей, 37 лет, г. Санкт-Петербург
              .review__txt.
                Употреблял алкоголь более 3 месяцев, с Нового Года. Поступил в клинику в очень плохом состоянии. После курса лечения, который длился 5 дней, чувствую себя обновленным и восстановленным.<br>
                Употреблял алкоголь более 3 месяцев, с Нового Года. Поступил в клинику в очень плохом состоянии. После курса лечения, который длился 5 дней, чувствую себя обновленным и восстановленным.

    .license
      .license__inner.site-container
        h2.license__title.site-title Наши лицензии
        .license__slider.license-slider.magnific-popup.slider-styles.owl-carousel.b-lazy.webp-img(data-webp="./img/slider-bg.webp"
        data-img="./img/slider-bg.png")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")
          a(href="./img/license01.jpg").license__item
            picture
              source(srcset="./img/license01.webp" type="image/webp")
              img(src="./img/license01.jpg" width="270"  alt="img")

    .consultation.b-lazy.webp-img(data-webp="./img/consultation-bg.webp"
    data-img="./img/consultation-bg.jpg")
      .consultation__inner.site-container
        .consultation__img
          .consultation__img-i.b-lazy.webp-img(data-webp="./img/consultation-img.webp"
          data-img="./img/consultation-img.png")
        .consultation__info
          .consultation__title остались вопросы? оставьте заявку и мы перезвоним
          .consultation__form.site-form
            form
              .site-form__row
                .site-form__input
                  input(type="tel" inputmode="numeric" placeholder="Введите ваш номер").phone
              .site-form__btn
                a(href="#").site-form__btn-i.site-btn Отправить
              .site-form__public-offer
                p *Нажимая на кнопку Отправить, вы принимаете условия&nbsp;
                  a(href="#") Публичной оферты